@import "tailwindcss";

@theme{
    --nike-color : #f72f2f;
    --primary-background-color : #f72f2f;
    --primary-text:#fff;
    --secondary-text : grey;
}
*{
    overflow-x: hidden;
}
.nav_ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.li{
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    text-align: center ;
}